@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lato&family=Proza+Libre&display=swap');




body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#contact{
  scroll-behavior: smooth;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

header img {
  width: 30px;
}

.active{
  color:black;
  font-weight: 500;
}

.hv:hover{
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
}

nav ul{
  display: flex;
  flex-direction: row;
}

nav ul li{
  margin-right: 40px;
  font-size: 18px;
  line-height: 28px;
  
}
.hamb{
  display: none;
}


.po{
  width:40px;
}

.top{
  
font-family: 'Proza Libre', sans-serif;
}

.nav{
   font-family: 'Lato';
}

.hello{
  position: fixed;
  width: 98%;

  
}
.hi{
  background-size: cover;
  width: 100%;
  height: 100vh;
  background-position: center
}

.text{
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 100%
  
}

@media screen and (max-width: 1040px) {

  .helllo{
   margin-left: -11px;
    
   
  }
  
}





@tailwind base;
@tailwind components;
@tailwind utilities;
